<!-- intro
================================================== -->
<section id="intro" class="s-intro">

    <div class="row">
        <div class="column lg-12 s-intro__content">

            <div class="s-intro__text">
                <h1 class="s-intro__text-huge animate-on-load">{{ config.extra.intro.label }}</h1>
                <h3 class="animate-on-load">{{ config.extra.intro.before }} <span>+</span>
                    {{ config.extra.intro.after }}</h3>
            </div>

            <div class="s-intro__bg" style="background-image: url({{config.extra.intro.image}});"></div>

        </div>
    </div>

</section> <!-- end s-intro -->