{% import "utils/macros.html" as macros %}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <!--- basic page needs
    ================================================== -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Augustine</title>

  <script>
    document.documentElement.classList.remove("no-js");
    document.documentElement.classList.add("js");
  </script>

  <!-- CSS
    ================================================== -->
  <link rel="stylesheet" href="{{ get_url(path='css/vendor.css') | safe }}" />
  <link rel="stylesheet" href="{{ get_url(path='css/styles.css') | safe }}" />

  <!-- favicons
    ================================================== -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='apple-touch-icon.png') | safe }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='favicon-32x32.png') | safe }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='favicon-16x16.png') | safe }}" />
  <link rel="manifest" href="{{ get_url(path='site.webmanifest') | safe }}" />
</head>

<body id="top">
  {% include "partials/preloader.html" %}

  <!-- page wrap
    ================================================== -->
  <div id="page" class="s-pagewrap">

    {% include "partials/header.html" %}

    {% block content %} {% endblock %}

    {% include "partials/footer.html" %}

  </div>
  <!-- end s-pagewrap -->

  <!-- Java Script
    ================================================== -->
  <script src="{{ get_url(path='js/plugins.js') | safe }}"></script>
  <script src="{{ get_url(path='js/main.js') | safe }}"></script>
</body>

</html>